.input_list {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 20px 0;
}

.list_group {
  margin-right: 80px;
}

.input_control {
  margin-right: 100px;
}

.select_control {
  display: flex;
  flex-direction: column;
}

.add_exercise {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.calculate {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 10px 0;
  padding-right: 10px;
  outline: none;
}
