.login {
  width: 70%;
  margin-top: 15%;
  text-align: center;
  border: 5px solid $layout-bg;
  padding: 40px;
  border-radius: 10px;

  h2 {
    font-size: 35px;
    text-transform: uppercase;
  }
}

.input-control {
  margin-right: 45px;
  margin-bottom: 30px;
}

.input-list {
  display: flex;
}

.login-redirect {
  position: fixed;
  bottom: 25px;
  left: 43%;
}

.login-link {
  color: $element;

  &:hover {
    color: $element-dk;
  }
}
