.sidebar {
  position: fixed;
  top: 10%;
  background-color: $layout-bg;
  height: 100%;
  width: 22%;
  overflow: auto;
}

.sidebar-list {
  color: $text-lt;
  text-transform: uppercase;
  margin: 25% auto;
}

.sidebar-list-item {
  display: flex;
  list-style-type: none;
  font-size: 20px;
  margin-bottom: 70px;
  transition: 1s;

  &::before {
    content: "";
    border: 1px solid #ddd;
    margin: 0 20px;
  }
}


.link{
  margin-right: 10px;
}