/* Display size (value max-width for screen) */
$xl: 1400px;
$l: 1200px;
$m: 992px;
$ms: 768px;
$s: 576px;

/* max-width value for target css-selector */
$xl10: 1260px;
$l20: 960px;
$m25: 720px;
$ms30: 540px;
$s100: 100%;

/* Colors */
$layout-bg: #292d3e;
$main-bg: #ebedf0;
$element: #0070f3;
$element-lt: #6eb1fd;
$text: #000;
$text-lt: #fff;
$text-dk: #8c8c8c;